<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_MVC_GenerateXML:war exploded">
    <output-path>$PROJECT_DIR$/target/Spring_MVC_GenerateXML</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_MVC_GenerateXML" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.2" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.2" />
          <element id="library" level="project" name="Maven: com.lowagie:itext:2.1.7" />
          <element id="library" level="project" name="Maven: bouncycastle:bcmail-jdk14:138" />
          <element id="library" level="project" name="Maven: bouncycastle:bcprov-jdk14:138" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bctsp-jdk14:1.38" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bcprov-jdk14:1.38" />
          <element id="library" level="project" name="Maven: org.bouncycastle:bcmail-jdk14:1.38" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/Spring_MVC_GenerateXML/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring_MVC_GenerateXML/web/Web" />
    </root>
  </artifact>
</component>